/*Especificidad (0,0,1)*/
form {
    background-color: #CEDAEE;
    color: #1B1D1D;
    padding: 1em;
}

/*Especificidad (0,0,2)*/
form fieldset {
    padding: 1em;
}

/*Especificidad (0,0,3)*/
form fieldset legend {
    font-size: 1.2em;
}

